<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Help page</title>
</head>

<body>
  {{> header}}
  <p>A list of my side projects that I have done out of interest</p>
  {{> footer}}
</body>

</html>